body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	background-color: #999;
	font-size: 62.5%;
}

header,
main,
footer {
	background-color: #ddd;
	font-size: 1.6em;
}

header {
	padding: 1.875em 0;
}

header h1 {
	text-align: center;
}

h1, h2, h3 {
	margin: 0;
}

h1 {
	font-size: 2.5em;
}

main h2 {
	padding: 0.625em 0 0.625em 0.625em;
}

section {
	margin: 1.875em 0;
}

section:first-child {
	margin-top: 0;
}

section:last-child {
	margin-bottom: 0;
}

nav ul {
	text-align: center;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 1em;
	font-size: 0.75em;
}

p {
	padding: 1.25em;
}

figure {
	margin: 0;
	padding: 0;
	text-align: center;
}

figcaption {
	font-style: italic;
}

footer {
	text-align: center;
	padding: 3em;
}

footer p {
	display: inline-block;
}

img {
	width: 100%;
	max-width: 100%;
}

@media screen and (max-width: 680px) {
	nav ul li {
		margin: 1em 0;
		display: block;
		font-size: 1em;
	}
	body {
		font-size: 50%;
	}
}

.para{
  font-family:sans-serif;
  font-size:20px;

}


#empire{
  font-size:80px;
  color:red;
  font-family:cursive;
}

#cn{
  font-size:75px;
  color:blue;
  font-family:inherit;

}

#windy{
  font-size:70px;
  color:violet;
  font-family:cursive;
}

#capital{
  font-size:65px;
  color:green;
  font-family:monospace;

}

#philies{
  font-size:60px;
  color:yellow;
  font-family:arial;
}

#georgia{
  font-size:55px;
  color:orange;
  font-family:serif;
}

#casino{
  font-size:50px;
  color:brown;
  font-family:fantasy;
}


#beach{
  font-size:45px;
  color:cyan;
  font-family:monospace;

}
